version: 2.1  
jobs:
  plan-apply:

    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light

    environment:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AWS_SESSION_TOKEN: $AWS_SESSION_TOKEN

    steps:
      - checkout
      - run: terraform init
      - run: terraform validate -no-color
      - run: terraform plan -no-color -input=false
      - run: terraform apply -auto-approve -input=false

workflows:
  version: 2
  plan_approve_apply:
    jobs:
      - plan-apply